{% extends "main/base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title mb-4">Вход</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Вход</button>
            </form>
            <div class="mt-3">
                <p>Еще нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
